In [1]:
# https://vpnpro.com/blog/price-comparison-of-online-entertainment-services-across-the-world/

In [12]:
import pandas as pd


data = pd.read_csv("Digital service prices, June 2020 - Raw Data.csv")

In [13]:
data

,Unnamed: 0,Service,Country,Local Price,Currency,Plan/Title,Cost in USD (VALUES),GDP per Capita (PPP),Service Type
0,NaN,Xbox,Argentina,"1,169.35",ARS,Sekiro,$16.97,"$19,970.52",Gaming
1,NaN,Nintendo,Argentina,"3,640.00",ARS,Animal crossing,$52.83,"$19,970.52",Gaming
2,NaN,Nintendo,Argentina,"3,640.00",ARS,Zelda,$52.83,"$19,970.52",Gaming
3,NaN,Nintendo,Argentina,"3,640.00",ARS,Mario,$52.83,"$19,970.52",Gaming
4,NaN,Xbox,Argentina,749.50,ARS,Red Dead,$10.88,"$19,970.52",Gaming
...,...,...,...,...,...,...,...,...,...
1324,NaN,Steam,Uzbekistan,8.99,USD,PUBG,$8.99,"$9,594.59",Gaming
1325,NaN,Steam,Uzbekistan,24.99,USD,GTA V,$24.99,"$9,594.59",Gaming
1326,NaN,Steam,Uzbekistan,29.99,USD,Doom Eternal,$29.99,"$9,594.59",Gaming
1327,NaN,Steam,Vietnam,"459,000.00",VND,GTA V,$19.82,"$8,677.54",Gaming
1328,NaN,Steam,Vietnam,"170,000.00",VND,PUBG,$7.34,"$8,677.54",Gaming

In [14]:
data.groupby(by="Service").count().sort_values(by="Country", ascending=False)

,Unnamed: 0,Country,Local Price,Currency,Plan/Title,Cost in USD (VALUES),GDP per Capita (PPP),Service Type
Service,,,,,,,,
Netflix,0,233,233,233,233,233,233,233
Steam,0,210,210,210,210,210,210,210
Apple music,0,176,176,176,176,176,176,176
Nintendo,0,126,126,126,126,126,126,126
Twitch Prime,0,126,126,126,126,126,126,126
Xbox,0,123,123,123,123,123,123,123
Playstation,0,120,120,120,120,120,120,120
Amazon Prime,0,93,93,93,93,93,93,93
YouTube Premium,0,62,62,62,62,62,62,62
Spotify,0,60,60,60,60,60,60,60

In [15]:
len(data.loc[data["Service"] == "Netflix"]["Country"].unique())

79

In [16]:
data = data.loc[data["Service"] == "Netflix"].copy()

In [19]:
data[data["Country"] == "Switzerland"]

,Unnamed: 0,Service,Country,Local Price,Currency,Plan/Title,Cost in USD (VALUES),GDP per Capita (PPP),Service Type
66,NaN,Netflix,Switzerland,21.90,CHF,Premium,$22.85,"$67,557.70",Video Streaming
125,NaN,Netflix,Switzerland,16.90,CHF,Standard,$17.63,"$67,557.70",Video Streaming
587,NaN,Netflix,Switzerland,11.90,CHF,Basic,$12.42,"$67,557.70",Video Streaming